@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert-success">
    <h1>Cameron Nagy</h1>
    <p class="lead">Hello World, Welcome to my ASP.net website.</p>
    <p><a href="https://www.ohio.edu/" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Experience</h2>
        <p>
           Im looking to gain more technical experience to help with my future job. Learning MVC will give me that experience to stand out.
        </p>
        <p><a class="btn btn-info" href="https://www.google.com/search?ei=sFQ0XqUqlc21BuLSkegB&q=mountains&oq=mountains&gs_l=psy-ab.1.0.0l10.20015.25888..27085...5.5..0.124.978.15j1......0....1..gws-wiz.....0..0i71j0i131j0i67j0i273.wFLPFgXq9qE">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SD2</h2>
        <p>
            @Html.ActionLink("Vet", "Index", "Vets")<br />
            @Html.ActionLink("Pet", "Index", "Pets")<br />
            @Html.ActionLink("Visits", "Index", "Visits")<br />
            @Html.ActionLink("Owner", "Index", "Owners")<br />
            </p>
        <p>This was an intersting Software Development: <span class="glyphicon glyphicon-star"></span></p>
        <p><a class="btn btn-primary" href="https://www.google.com/search?ei=qlQ0Xry0OqqP9PwPuPyZmAw&q=tech+industry&oq=tech+in&gs_l=psy-ab.1.0.0i273l2j0l2j0i131j0l5.1239.2634..4343...1.2..0.130.281.3j1......0....1..gws-wiz.......0i71j0i67.-sIGmYudGBM">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SD3</h2>
        <p>Take a look at my dropdown <span class="glyphicon glyphicon-arrow-down"></span></p>
        <p>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    SD3
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Vet", "Index", "Vets")</li>
                    <li>@Html.ActionLink("Pet", "Index", "Pets")</li>
                    <li>@Html.ActionLink("Visits", "Index", "Visits")</li>
                    <li>@Html.ActionLink("Owner", "Index", "Owners")</li>
                </ul>
            </div>
            

        </p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=tacos&oq=tacos&aqs=chrome..69i57j0l7.2337j0j7&sourceid=chrome&ie=UTF-8">Learn more &raquo;</a></p>
    </div>
</div>